/* ===== Título Nuestro Equipo ===== pachamama*/
.titulo-equipo {
  font-size: 3.8rem;
  font-weight: 800;
  text-align: center;
  color: #5e5e5e;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 20px; /* Ajustamos la separación entre título y contenido */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Efecto de contorno en el fondo */
.titulo-equipo::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #5dc1b9, #8ca893);
}

/* ===== Descripción de Quiénes Somos ===== */
.descripcion-equipo {
  font-size: 1.2rem;
  text-align: center;
  color: #6c6c6c;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.8;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  margin-bottom: 30px;
}

/* ===== Estilo de las imágenes del equipo ===== */
.team-member {
  position: relative;
  overflow: hidden;
  border-radius: 15px; /* Ajustamos el border-radius para hacerlo más redondeado */
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3); /* Sombra más elegante */
  transition: all 0.3s ease;
  margin: 0 auto;
  height: 300px; /* Aumentamos un poco la altura */
  width: 300px; /* Aumentamos el tamaño del contenedor */
  margin-bottom: 30px;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el área */
  border-radius: 15px; /* Redondeamos los bordes de la imagen */
  transition: transform 0.3s ease;
}

.team-member img:hover {
  transform: scale(1.1); /* Aumentamos el tamaño de la imagen al hacer hover */
}

/* Información del miembro del equipo */
.team-info {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para que el texto resalte */
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.team-member:hover .team-info {
  opacity: 1; /* Mostrar la información solo al hacer hover */
}

.team-info h5 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}

.team-info p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

/* ===== Estructura del equipo ===== */
#nuestro-equipo {
  background-color: #f8f9fa;
  padding-top: 50px;
  padding-bottom: 0; /* Quitamos el espacio extra */
  margin-bottom: 0; /* Quitamos el margen */
}

#nuestro-equipo::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #618b81;
  margin-top: -50px;
  margin-bottom: 40px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 30px; /* Ajustamos el espacio entre las imágenes */
}

.col-md-3 {
  width: 22%;
}

@media (max-width: 768px) {
  .col-md-3 {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .col-md-3 {
    width: 100%;
  }
}


/* ===== Tratamientos ===== */
#tratamientos { 
  background-color: #fff6ed;
  padding-top: 50px; /* Se ajusta el espacio superior */
}

.titulo-tratamientos {
  color: #5e5e5e;
  font-weight: 700;
  font-size: 2.8rem;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.titulo-tratamientos .subrayado-dinamico {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 6px;
  background: linear-gradient(to right, #5dc1b9, #8ca893);
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: crecerLinea 4s ease forwards;
}

@keyframes crecerLinea {
  to {
    width: 70%;
  }
}

/* Contenedor del slider */
.tratamientos-swiper {
  width: 100%;
  margin-top: 20px;
}

/* Contenedor de las flechas para alinearlas con el extremo */
.swiper-wrapper-externo {
  position: relative;
  display: flex;
  justify-content: center; /* Centra el contenido */
  align-items: center;
  width: 100%;
  padding: 0 50px; /* Asegura que las flechas estén en los extremos */
}

/* Ajustes de las flechas */
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; /* Elimino el fondo blanco */
  border: 2px solid #8f8a8aac; /* Rectángulo con borde */
  padding: 23px 18px;
  border-radius: 5px; /* Bordes ligeramente redondeados */
  font-size: 20px;
  color: #5dc1b9;
  z-index: 10;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #5dc1b9;
  color: #fff;
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.swiper-button-next {
  right: 20px; /* Muevo la flecha derecha un poco más hacia la derecha */
}

.swiper-button-prev {
  left: 20px; /* Muevo la flecha izquierda un poco más hacia la izquierda */
}

/* Ajustes del slider */
.swiper-slide {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: auto;
  transition: transform 0.5s ease;
  transform: scale(0.95); /* por defecto, un poco más pequeño */
  opacity: 0.8;
}

/* Slide activo resaltado */
.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

/* Ajuste de las cartas */
.tratamiento-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 450px;
  width: 100%;
  box-sizing: border-box;
}

.tratamiento-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px #fff6ed;
}

.tratamiento-img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.tratamiento-card .card-body {
  padding: 20px;
}

/* Botón consultar */
.btn-consultar {
  background-color: transparent;
  border: 2px solid #5dc1b9;
  color: #5dc1b9;
  font-weight: 600;
  padding: 6px 20px;
  font-size: 0.95rem;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-consultar:hover {
  background-color: #5dc1b9;
  color: #fff6ed;
}

/* Responsive */
@media (max-width: 992px) {
  .swiper-slide {
    width: auto;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    width: auto;
  }
}

@media (max-width: 576px) {
  .swiper-slide {
    width: auto;
  }
}







/* ===== Header ===== */
.logo-natura {
  color: #5dc1b9; /* o el color que querés usar */
}


.navbar-brand {
  letter-spacing: 1px;
}

.nav-link {
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color:#5dc1b9 !important;
}

.btn-agendar {
  background-color:#5dc1b9;
  color: #fff6ed;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-agendar:hover {
  background-color: #5e5e5e;
  transform: scale(1.05);
}


/* ===== Hero ===== */
.hero-highlight {
  color: #5dc1b9;
}

.titulo-hero {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

.destacado-natura {
  font-weight: 800;
  background: linear-gradient(135deg, #5dc1b9, #8cbfa7, #5dc1b9);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 4s ease-in-out infinite;
}

/* Animación suave del degradado */
@keyframes moveGradient {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

@media (max-width: 768px) {
  .hero-natura {
    background-position: center top;
  }
}

.btn-natura-hero {
  background: linear-gradient(135deg, #5dc1b9, #8cbfa7);
  color: white;
  font-weight: 700;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

.btn-natura-hero:hover {
  background: linear-gradient(135deg, #4db0a5, #7da692);
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


/* ===== Redes Sociales Footer ===== */
.social-icons a {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #5dc1b9; /* Color agua de tu marca */
}

