{% load static %}
<section id="nuestro-equipo" class="pt-5">
  <div class="container">
    <!-- Título de "Nuestro Equipo" -->
    <div class="text-center mb-5">
      <h2 class="titulo-equipo position-relative d-inline-block">
        Nuestro Equipo
      </h2>
      <p class="descripcion-equipo">
        Somos Clínica Natura, un espacio dedicado a tu bienestar y belleza. Ofrecemos una amplia gama de tratamientos estéticos y de cuidado personal, utilizando las últimas tecnologías y productos de alta calidad. Nuestro objetivo es ayudarte a realzar tu belleza natural y proporcionarte una experiencia relajante en cada visita. Ven a descubrir cómo podemos cuidar de ti y realzar tu mejor versión.
      </p>
    </div>

    <!-- Imágenes del equipo -->
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="team-member">
          <img src="{% static 'img/imagenP1.jpeg' %}" alt="Miembro 1" />
          <div class="team-info">
            <h5>Nombre 1</h5>
            <p>Cargo</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="team-member">
          <img src="{% static 'img/imagenP2.jpeg' %}" alt="Miembro 2" />
          <div class="team-info">
            <h5>Nombre 2</h5>
            <p>Cargo</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="team-member">
          <img src="{% static 'img/imagenP3.jpeg' %}" alt="Miembro 3" />
          <div class="team-info">
            <h5>Nombre 3</h5>
            <p>Cargo</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="team-member">
          <img src="{% static 'img/imagenP4.jpeg' %}" alt="Miembro 4" />
          <div class="team-info">
            <h5>Nombre 4</h5>
            <p>Cargo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
