<footer class="bg-dark text-white text-center py-4 mt-5">
  <div class="container">
    <p>&copy; 2025 Clínica Natura. Todos los derechos reservados.</p>
    <div class="social-icons">
      <a href="https://www.instagram.com/clinica_naturacr" target="_blank" class="text-white me-3">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.facebook.com/share/1FqFQi9E3n/?mibextid=wwXIfr" target="_blank" class="text-white me-3">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.tiktok.com/@clinicanatura" target="_blank" class="text-white">
        <i class="bi bi-tiktok"></i>
      </a>
    </div>
  </div>
</footer>
